<div>
  <h1>{{restaurant.name}}</h1>
  <p>[{{restaurant.Category.name}}]</p>
</div>
<hr>
<ul>
  <li class="h4">評論數: {{restaurant.Comments.length}}</li>
  <li class="h4">瀏覽次數:</li>
  <li class="h4">收藏數:</li>
</ul>